/* ///////////////////////////////////////////////////////////////////////////////////
///////////////////////////////// Generic CSS  //////////////////////////////////// */
h1,
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
}

.active {
  color: #00cdac !important;
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Baloo Paaji 2", cursive;
}

.name-highlight {
  color: #ffa033;
  font-size: 40px;
}

.name-highlight2 {
  color: #00cdac;
  font-size: 32px;
}

.heading {
  text-align: center;
}

.underline {
  width: 80px;
  height: 3px;
  border-radius: 20px;
  margin: 30px auto;
  background-color: #ffa033;
  margin-bottom: 30px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.btn-general {
  font-family: "Raleway", sans-serif;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 15px;
  text-transform: uppercase;
  padding: 8px 10px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.btn-portfolio {
  color: #02b0af;
  font-size: 16px;
  border: 2px solid #02b0af;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  background-color: #02b0af;
  color: white;
  border: 2px solid #02b0af;
}

.input:focus,
.input:active {
  outline: none !important;
  box-shadow: none !important;
}

/* ///////////////////////////////////////////////////////////////////////////////////
///////////////////////////////// Navigation  //////////////////////////////////// */

#nav-bg {
  background-color: whitesmoke;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0;
}

.navbar-toggler span {
  display: block;
  background-color: #444;
  height: 3px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  position: relative;
  left: 0;
  opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  -webkit-transition: transform 0.35s ease-in-out;
  -moz-transition: transform 0.35s ease-in-out;
  -o-transition: transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px;
  visibility: hidden;
  background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  bottom: 12px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  opacity: 0.9;
}

.navbar-toggler span {
  background-color: #ffa033;
}

.navbar-light .navbar-toggler {
  color: #ffa033;
  border-color: #ffa033;
}

/* ///////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////// Home /////////////////////////////////////// */

#home {
  display: flex;
  align-items: center;
  padding: 40px 40px;
  margin-top: 20px;
  height: 500px;
}

.home-left button {
  background-color: #ffa033;
  color: black;
  margin-top: 10px;
  box-shadow: 3px 4px 3px gray;
  transition: 0.3s all ease-in;
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  -ms-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
}

.home-left button:hover {
  transform: translateX(10px);
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
}

.button:focus,
.button:active {
  outline: none !important;
  box-shadow: none !important;
}

.home-left button a {
  text-decoration: none;
  color: black;
}

#social-section {
  display: flex;
  padding: 0px;
}

#social-section p {
  color: white;
  font-size: 20px;
}

/* ///////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////// portfolio /////////////////////////////////////// */

#what-i-do {
  margin: 40px 20px;
  padding: 30px 20px;
}

.portfolio-bg {
  margin-top: -16px;
}

.portfolio-bg-footer {
  margin-bottom: -16px;
}

#photos {
  margin-top: 50px;
  padding-top: 20px;
}

#photos img {
  width: 2500px;
  height: 300px;
  background-size: cover;
  padding: 10px;
  margin: 10px 0px;
  border: 1px solid #bbb;
  transition: all 0.3s linear;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#photos img:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}

#projects {
  margin-top: 50px;
  margin-bottom: 40px;
  padding-top: 20px;
}

#project-1 {
  margin-bottom: 100px;
  margin-top: 100px;
}

#projects .home-right {
  overflow: hidden;
}

#projects img {
  border-radius: 20px;
  -webkit-transition: 0.8s all ease;
  -o-transition: 0.8s all ease;
  transition: 0.8s all ease;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

#projects img:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

/* ///////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////// CV /////////////////////////////////////// */

#CV {
  /* margin-top: 80px; */
  display: flex;
  align-items: center;
  padding: 60px 40px;
  margin-bottom: 25px;
  height: 600px;
  position: relative;
  background-image: linear-gradient(135deg, #02aab0, #00cdac);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

#CV img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#description p {
  color: #02b0af;
  font-size: 20px;
  font-weight: 500;
  transition: 0.3s all ease-in;
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  -ms-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
}

#description {
  background-color: white;
  padding: 20px 60px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: inset 3px 3px 4px black;
}

#description p:hover,
#description p:focus {
  transform: translateX(10px);
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
}

@media only screen and (max-width: 600px) {
  #CV {
    clip-path: none;
  }

  #description .fa-envelope {
    margin-right: 0px !important;
    margin-left: -30px;
  }
}

/* Education part */
#education {
  background-color: whitesmoke;
  padding: 40px 20px;
}

.edu-bg {
  margin: 20px;
  padding: 20px;
  min-height: 250px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  text-align: center;
  color: white;
  font-size: 18px;
  background-image: linear-gradient(135deg, #02aab0, #00cdac);
  box-shadow: 5px 5px 10px gray;
  transition: all 0.5s all ease-in-out;
  -webkit-transition: all 0.5s all ease-in-out;
  -moz-transition: all 0.5s all ease-in-out;
  -ms-transition: all 0.5s all ease-in-out;
  -o-transition: all 0.5s all ease-in-out;
}

.edu-bg-middle {
  margin: 20px;
  padding: 20px;
  min-height: 250px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  text-align: center;
  color: black;
  font-size: 20px;
  background-image: linear-gradient(to right, #ffa033, #ffcf19);
  box-shadow: 5px 5px 10px gray;
}

.animation {
  transition: 0.4s all ease-in-out;
  -webkit-transition: 0.4s all ease-in-out;
  -moz-transition: 0.4s all ease-in-out;
  -ms-transition: 0.4s all ease-in-out;
  -o-transition: 0.4s all ease-in-out;
}

.animation:hover,
.animation:focus {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

/* Skills */

/* #skills-bg {
    background-color: white;
} */

#skills {
  padding-top: 80px;
  padding-bottom: 40px;
}

.skill-item {
  margin: 20px 20px;
  padding: 70px 30px;
  background-color: #02aab0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 10px 10px 5px gray;
}

.skill-item h5 {
  margin: 0px 0px 10px 0px;
  padding: 10px;
  font-size: 42px;
}

.skill-item h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: ghostwhite;
}

.skill-item hr {
  width: 25%;
  height: 2px;
  background-color: #ffd016;
  margin: o auto;
  border: none;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.skill-item p {
  margin-top: 20px;
  color: white;
}

.skill-item:hover {
  background-color: #00cdac;
  /* box-shadow: 5px 5px 3px gray; */
}

.skill-item,
.skill-item h5 {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.skill-item:hover hr {
  background-color: #21211e;
}

.skill-item:hover h5 {
  color: #ffd016;
  transform: translateY(-15px);
  -webkit-transform: translateY(-15px);
  -moz-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  -o-transform: translateY(-15px);
}

#skill-animation .skill-item {
  transition: 0.5s all ease-in;
  -webkit-transition: 0.5s all ease-in;
  -moz-transition: 0.5s all ease-in;
  -ms-transition: 0.5s all ease-in;
  -o-transition: 0.5s all ease-in;
}

#skill-animation .skill-item :hover h5,
#skill-animation .skill-item :focus h5 {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

/* Progress */

#interest {
  background-color: whitesmoke;
  padding: 60px 20px;
}

.Skill-bar-outer {
  margin: 20px 20px;
}

.Skill-bar-outer h5 {
  line-height: 60px;
  color: #00cdac;
}

.progress-bar {
  font-weight: 600;
  color: black;
  background-image: linear-gradient(to right, #ffa033, #ffcf19);
  /* background-color: #FFD016; */
}

.progress {
  height: 25px;
  background-color: lightgrey;
}

#reference {
  padding: 40px 20px;
  margin: 30px 0;
}

.reference_inner {
  text-align: center;
  color: whitesmoke;
  font-size: 20px;
  margin: 20px 20px;
  padding: 40px 10px;
  background-image: linear-gradient(#00cdac, #02aab0);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  min-height: 300px;
  transition: 0.3s all ease-in;
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  -ms-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
  box-shadow: 2px 2px 10px grey;
}

.reference_inner:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

/* ///////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////// contact /////////////////////////////////////// */

#contact {
  padding: 80px 20px;
  background-color: lightgray;
}

.contact-inner {
  padding-bottom: 60px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  background-color: white;
  box-shadow: 0px 0px 10px gray;
}

.contact-inner input {
  background: transparent;
  border: 1px solid #ffcf19;
}

.contact-inner input:hover,
.contact-inner input:focus {
  background: transparent;
  border: 1px solid #00cdac;
}

.contact-inner h6 {
  color: #00cdac;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
}

.contact-inner:hover h6 {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

.bg-primary {
  background-color: #00cdac !important;
}

.btn-block {
  background-color: #ffa033 !important;
  transition: 0.3s all ease-in;
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  -ms-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
}

.btn-block:hover {
  background-color: #00cdac !important;
}

/* ///////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////// footer /////////////////////////////////////// */

footer {
  margin-top: 50px;
  background-image: linear-gradient(135deg, #02aab0, #00cdac);
}

.social-list {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
}

ul.social-list li {
  display: inline-block;
  padding: 0px;
}

#copy-right {
  color: white;
  font-size: 18px;
}

ul.social-list li a {
  margin-right: 5px;
  justify-content: space-between;
  text-align: center;
  display: inline-block;
  border: 1px solid white;
  width: 35px;
  height: 35px;
  line-height: 35px;
  color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -o-transition: all 300ms linear;
}

ul.social-list li a:hover {
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}

ul.social-list li:nth-child(1) a:hover {
  background-color: black;
  border-color: transparent;
}

ul.social-list li:nth-child(2) a:hover {
  background-color: #333;
  border-color: transparent;
}

ul.social-list li:nth-child(3) a:hover {
  background-color: #dd4b39;
  border-color: transparent;
}

ul.social-list li:nth-child(4) a:hover {
  background-color: #1da1f3;
  border-color: transparent;
}

ul.social-list li:nth-child(5) a:hover {
  background-color: #0077b7;
  border-color: transparent;
}

ul.social-list li:nth-child(6) a:hover {
  background-color: #e7002a;
  border-color: transparent;
}

/* ///////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////// Modal /////////////////////////////////////// */

/* ////////Modal 1 //////////// */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: 10% auto;
  width: 60%;
  border-radius: 20px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.modal-header {
  padding: 15px;
  color: black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #01bcae;
}

.modal-body {
  padding: 10px 20px;
  background: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#close-btn {
  color: white;
  float: right;
  font-size: 30px;
}

#close-btn:hover,
#close-btn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* ///////////// modal 2 /////////////// */

.modal2 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: 10% auto;
  width: 60%;
  border-radius: 20px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.modal-header {
  padding: 15px;
  color: black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.danger {
  background-color: #e7002a;
}

.modal-body {
  padding: 10px 20px;
  background: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#close-btn2 {
  color: white;
  float: right;
  font-size: 30px;
}

#close-btn2:hover,
#close-btn2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* ///////////////////////////////////////////////////////////////////////////////////
///////////////////////// Home page text animation //////////////////////////////// */

#home span {
  color: #ffa033;
  transition: 1s all ease-in;
}

#home span.fadeIT {
  color: #00cdac;
}

/* ///////////////////////////////////////////////////////////////////////////////////
////////////////////////////// text reval animation  //////////////////////////////// */

.intro-text {
  opacity: 0;
  transform: translateX(-30px);
  -webkit-transform: translateX(-30px);
  -moz-transform: translateX(-30px);
  -ms-transform: translateX(-30px);
  -o-transform: translateX(-30px);
  transition: 1.2s all ease-in-out;
  -webkit-transition: 1.2s all ease-in-out;
  -moz-transition: 1.2s all ease-in-out;
  -ms-transition: 1.2s all ease-in-out;
  -o-transition: 1.2s all ease-in-out;
}

.intro-text2 {
  opacity: 0;
  transform: translateX(30px);
  -webkit-transform: translateX(30px);
  -moz-transform: translateX(30px);
  -ms-transform: translateX(30px);
  -o-transform: translateX(30px);
  transition: 1.2s all ease-in-out;
  -webkit-transition: 1.2s all ease-in-out;
  -moz-transition: 1.2s all ease-in-out;
  -ms-transition: 1.2s all ease-in-out;
  -o-transition: 1.2s all ease-in-out;
}

.intro-appear {
  opacity: 1;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
}
